@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
	padding: 60px 0px;
	background-color: rgb(220, 220, 220);
}

.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;

	color: rgb(255, 255, 255);
	background-color: rgb(197, 44, 102);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: inline-block;
	font-size: 40pt;
	font-weight: 300;
	line-height: 1;
}
.event-list > li time > .month {
	display: inline-block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
	margin-right: 2%;
}
.event-list > li > .info {
	display: block;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
	padding: 10px;
	overflow: auto;
}
.event-list > li > .info > ul {
	display: table;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: left;
}
.event-list > li > .info > ul > li {
	display: table-cell;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		padding: 0px;
		overflow: hidden;
		background-color: rgb(245, 245, 245);
	}
	.event-list > li > time{
		width: 20%;
		float: left;
		display: inline-block;
	}
	.event-list > li > .info {
		width: 80%;
		float: left;
		display: inline-block;
		text-align: left;
	}
	.event-list > li > .info > .title{
		padding: 0px 10px;
	}
	.event-list > li > .info > .desc {
		padding-top: 10px;
		padding-left:10px;

	}
}